<p>
  <mat-toolbar color="secundary">
      <mat-icon>account_circle</mat-icon>
      <span>Listado</span>

      <span class="example-spacer"></span>
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
      <span class="example-spacer"></span>
      <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>launch</mat-icon>
      </button>
  </mat-toolbar>
</p>
